body {
	background-color: #8FBC8F;
	color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}  

h1 {
	font-size: 30px;
	}

#verticall {
		float: left;
		width: 28%;
		background-color: #66CDAA;
		border-radius: 10px;
		padding: 5px;
		height: auto;
		
		
		
}

#header{ 
	text-align: center;
	background-color: #008080;
	border-radius: 10px;
	padding: 5px;}

#navi-gation {
	text-align: center;
	background-color: #F5DEB3;
	border-radius: 10px;
	padding: 5px;}
	
#section {
	float: right;
	width:70%;
	background-color: #66CDAA;
	border-radius: 10px;
	padding: 5px;}
#section-koala {
	background-color: #66CDAA;
	border-radius: 10px;
	padding: 5px;}

h3	{font-size: 20px;
	border-style: dashed;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	text-align: center;
	
}

p {
	background-color: #2E8B57;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	padding: 5px;
		
}

#kanga {margin-left: 230px}
img	{margin-left: 100px; 
}
figcaption	{margin-left: 100px;
			margin-right: 900px;
}
ol	{font-size: 15px;
color: white;

}

ul	{font-size: 15px;
color: white;
}

.thanks{
	border: dotted 2px;
	width: 100px;
	height: 100px;
}

ol {list-style-type: upper-alpha;
	
}

ul {list-style-type: square;}

footer {
	margin-top: 1300px;
	text-align: center;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}


a:hover {
  color: hotpink;
}

a:active {
  color: blue;
