body {
	background-color: #8FBC8F;
	color: white;
	
}
h1 {
	font-size: 30px;
	}

h2	{font-size: 20px;
	border-style: dashed;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	
}

p {
	background-color: #2E8B57;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	padding: 5px;
		
}
img	{margin-left: 100px; 
}
figcaption	{margin-left: 100px;
			margin-right: 900px;
}
ol	{font-size: 15px;
color: white;
}

ul	{font-size: 15px;
color: white;
}

.thanks{
	border: dotted 2px;
	width: 100px;
	height: 100px;
}

ol {list-style-type: upper-alpha;	
}

ul {list-style-type: square;}
